# Mac/Xcode files
*.DS_Store
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata
DerivedData
*.pbxuser
!default.pbxuser

# VS Files
*.opensdf
*.sdf
*.v12.suo
*.vcxproj.filters

# Logs
*.tlog

# System Specific Files
COMP_371_Space_Shooter/Debug/

# Others

